.image-list-wrapper{
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;}

.image-list{
  display: flex;
  align-items: center;
}

.gallery-image-container{
  position: relative;
  margin: 2px;
  height: 100%;
}
.gallery-image-container img {
  max-height: 300px;
  max-width: 100%;
}
.paginator-wrapper{
  display: flex;
  justify-content: center;
}
.delete-button{
  visibility: hidden;
  position: absolute;
  right: 6px;
  top: 6px;
}
.gallery-image-container:hover .delete-button {
  visibility: visible;
  z-index: 2;
}

