<div class="gallery-header">
  <mat-form-field class="gallery-header-item"
                  *ngIf="sorting">
    <mat-label>Sort by...</mat-label>
    <mat-select>
      <mat-option *ngFor="let sortingOption of sortingOptions"
                  [value]="sortingOption.sortingKey"
                  (onSelectionChange)="onSortEvent($event)">
        {{sortingOption.displayValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field class="gallery-header-item" *ngIf="search">
    <mat-label>Filter by title</mat-label>
    <input matInput [(ngModel)]="filterValue">
  </mat-form-field>
</div>

<div class="image-list-wrapper">
  <div class="image-list">
    <div *ngFor="let image of currentVisibleImages$ | async"
         class="gallery-image-container">
      <img class="delete-button" src="../../assets/cancel-24px.svg" (click)="imageDeleted(image)">
      <img [src]=image.url
           [title]="image.title" (click)="imageSelected(image)"
           onerror="this.onerror=null;this.src='../../assets/placeholder.png'">

    </div>
  </div>
  <h3 class=".mat-typography" *ngIf="(currentVisibleImages$ | async)?.length === 0">
    No images found.. let's try some other search words
  </h3>
</div>

<div class="paginator-wrapper">
  <mat-paginator *ngIf="pagination"
                 [length]="(availableImages$|async)?.length"
                 [pageSizeOptions]="pageSizeOptions"
                 [pageSize]="resultsPerPage"
                 (page)="onPageEvent($event)">
  </mat-paginator>
</div>
